@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* From: https://github.com/unocss/unocss/blob/main/packages/reset/antfu.md */
  .dark {
    color-scheme: dark;
  }
  .dark ::-moz-selection {
    background: #444;
  }
  .dark ::selection {
    background: #444;
  }
  div {
    display: flex;
    flex-direction: column;
  }
  div[row=""] {
    display: flex;
    flex-direction: row;
  }
  div[block=""] {
    display: block;
  }
}

@layer components {
  .sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  .btn {
    @apply rounded-lg bg-primary-900 px-3 py-2 text-sm text-primary-100 transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary-700 focus-visible:ring-offset-1  focus-visible:ring-offset-transparent hover:enabled:bg-purple-800 active:enabled:bg-primary-900;
  }

  .link {
    @apply text-primary-400 hover:text-primary-300 hover:underline;
  }

  .text-input {
    @apply w-full rounded-lg bg-neutral-400 p-2 text-neutral-900  placeholder:text-neutral-600 focus:ring-1 focus:ring-primary-500 focus:ring-offset-2 focus-visible:outline-none focus-visible:ring-offset-transparent aria-[invalid=true]:border-2 aria-[invalid=true]:border-danger-400;
  }
}
